
#header-nav {
    background-color: ORANGE; 
  
    padding: 15px 20px;
    width: 100%;  
        
     
    display: flex;
       align-items: center; 
    justify-content: space-between; 
}

#header-nav p {
    color: green;

}
#header-nav a {
    color: green;
    /* 移除連結下劃線，讓它看起來更美觀 (可選) */
    text-decoration: none;
}

body {
    background-color: gray;
display: flex;
flex-direction: column; 
min-height: 100vh;
align-items: center;
}



 
h1 {
    color: purple;font-size: 50px;
}

 
h2 {
    font-size: 20px;
}

.blue-text {
    color: blue;font-size: 10px; 
}

p {
    color: pink; 
 
}

#main-content {
    background-color: YELLOW;  
    width: 600px; / 
    padding: 20px; /* 在區塊內緣增加 20 像素的留白 */
    border: 5px solid BLUE; /* 加上 5 像素粗的黑色實線邊框 */
}

#services {
    background-color: LIME; /* 讓它使用一個怪誕的亮綠色 */
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    
    /* 讓裡面的連結文字能夠居中 */
    text-align: center;
}

#pic2 {
background-color: black;
    margin-top: 20px;
}


#footer {
background-color: black;

color: white;

text-align: center;

padding: 5px;


}

@media screen and (max-width: 600px) {

#main-content {
        width: 90%; 
        border: 2px solid red; 
    }

h1 {
        font-size: 50px; /* 從 150px 縮小到 50px */
    }

#header-nav {
         
        flex-direction: column; 
        
        align-items: center; 
    }
}


@media screen and (max-width: 600px) {


    #services {
        width: 90%;
    }
}










