#header-nav {
    background-color: pink; 
    padding: 15px 20px;
    width: 100%;  
    
     
    display: flex;
     
    justify-content: space-between; 
}

#header-nav p {
    color: green;
}


body {
    background-color: orange;
display: flex;
flex-direction: column; 
min-height: 100vh;
align-items: center;
}



 
h1 {
    color: purple;font-size: 50px;
}

 
h2 {
    font-size: 20px;
}

.blue-text {
    color: blue;font-size: 10px; 
}

p {
    color: pink; 
 
}

#main-content {
    background-color: white; /* 設定區塊背景為白色 */
    width: 600px; /* 設定區塊寬度為 600 像素 */
    padding: 20px; /* 在區塊內緣增加 20 像素的留白 */
    border: 5px solid black; /* 加上 5 像素粗的黑色實線邊框 */
}

#footer {
background-color: black;

color: white;

text-align: center;

padding: 10px;


}

@media screen and (max-width: 600px) {

#main-content {
        width: 90%; 
        border: 2px solid red; 
    }

h1 {
        font-size: 50px; /* 從 150px 縮小到 50px */
    }

#header-nav {
         
        flex-direction: column; 
        
        align-items: center; 
    }
}













